.body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px ;
  color: #ffffff;
  text-transform: none;
  background-color: #849D8F;
}

.link {
  text-decoration: underline;
  color: #ffffff;
  text-decoration-color: #ffffff;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: #849D8F;
}

.main-navigation-list,
.user-navigation,
.drop-down-list {
  list-style: none;
}

.drop-down-list a {
  text-decoration: none;
}

.main-navigation-list a:hover {
  background-color: #fbded7;
}

.main-navigation-list a:focus {
  background-color: #f6b5a5;
}

.main-navigation-list a:active {
  background-color: #d07058;
}

.input-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
}

.help a {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.timetable {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.feature {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.features-list {
  font-weight: 400;
  color: #323232;
  list-style: none;
  display: inline-block;
  background-image: url("../img/waffle-big.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.news-box {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;

  background-image: url("../img/strawberry-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  /*тут надо задавать размеры в пикселях или я неправильные ключевые слова использую? Пытался задать размеры как у исходников, но отображается как-то криво. И как отобразить текст внутри бэкграунда?*/
}

.main-news {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.subscription {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-image: url("../img/mail-backing.png"), url("../img/mail-background.png");
  background-position: top center, top center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
}

.contacts {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 10px;
}

.bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.social-list li {
  list-style: none;
  display: inline;
}

.info {
  list-style: none;
}

.social-button {
  display: inline;
}

.info {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.info:first-child::before {
 content: "";
 /*хотел сюда добавить свг сердечко но как-то не вышло*/
}

.feedback {
 background-color: #f8f7f4;
 background-size: 481px 445px;
 border-radius: 5px;
 /*почему когда я задаю размеры бэкграунд все равно растягивается во всю страницу?*/
}

.feedback  h3{
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.comments {
 font-size: 16px;
 line-height: 24px;
 font-weight: 400;
 color: #999999;
 border: 1px solid #b2b2b2;
 border-radius: 5px;
 width: 431px;
 height: 158px;
}

/*catalog*/

.in-cart {
 font-size: 13px;
 line-height: 16px;
 font-weight: 400;
 color: #323232;
}

.total-price {
 font-size: 15px;
 line-height: 18px;
 font-weight: 700;
 color: #323232;
}

.catalog-list {
  list-style: none;
}

.product-name {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 13,3px;
  font-weight: 700;
  color: #ffffff;
}

.kg {
  font-size: 30px;
}
